doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title React Redux Skeleton
    link(href='#{bundle.css}', rel='stylesheet')
    script.
      window.pdo=#{JSON.stringify(pdo)}
  body
    #app
    script(src='#{bundle.js}')
